
* { margin: 0; padding: 0; }

body {
  background-color: #001A33;
  font-family: Georgia, serif;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--deep {
  transform: translateZ(-5px) scale(6) translateY(6180px);
}

.campanilebg {
  background-image: url("/40th/40th-bg-NL.jpg");
  background-color: #001A33;
  background-repeat: no-repeat;
  height: 15000px;
  width: 1400px;
}

canvas {
  position: sticky;
  top: 0;
  left: 40%;
  width: 20%;
  height: 100%;
  opacity: 0.3;
}

dt {
  position: relative;
  margin: 150px auto 75px auto;

  border-radius: 100px;
  width: 125px;
  height: 93px;
  padding-top: 32px;

  background-color: #fff;
  color: #002f5e;

  text-align: center;
  font-size: 2.75em;
  font-weight: normal;
  font-style: italic;
}

dt a {
  color: #002f5e;
  text-decoration: none;
}

dd p.text {
  padding: 1em;
  font-size: 1em;
  line-height: 1.25;
  align-self: center;
}

h2 {
  font-style: italic;
}

p span {
  display: block;
  font-size: 1em;
}

dd p span+span {
  padding-top: 1.5em;
}

em { font-weight: bold; }

dd p.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.equity { background-color: #cfde45; }
.learning { background-color: #00b3de; }
.community { background-color: #ed1d60; }
.research { background-color: #fdb514; }

.important { font-size: 1.25em; }

dd div {
  display: grid;
  margin: 100px auto 0 auto;
  background-color: rgba(234,238,242,0.9);
}

.small { width: 30%; }

.med {
  width: 50%;
  grid-template-columns: 49% 49% 2%;
  grid-template-rows: max-content;
}

.long {
  width: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
}

.long p.photo img { height: 500px; }

p.logo-frame {
  padding:0.25em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
}

div#intro_letter {
  margin: 5em auto 200px auto;
  width: 45em;
  padding: 3em;

  background-color: rgba(255, 255, 255, 0.8);
  border: 8px double #0070af;

  position: relative;
}

div#intro_letter p, div#intro_letter h2 {
  padding: 1em 0;
  font-size: 1em;
  line-height: 1.5;
}

div#keys, div#legend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);

  background-color: #fff;
}

div#keys {
  position: sticky;
  top: 0;
  z-index: 5;
}

div#legend {
  position: relative;
  top: -50px;
  z-index: 6;
}

div#legend p.legend_pic {
  grid-row-start: 1;
  text-align: center;
}

div#legend img {
  width: 80%;
  border-radius: 200px;
}

div#legend h3 {
  grid-row-start: 2;
  text-align: center;
}

div#keys h3, div#legend h3 {
  padding: 0.5em 0;
}

div#legend p {
  grid-row-start: 3;
}

div#keys h3,
div#legend h3 {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.45);

  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  text-align: center;
}

div#legend p {
  padding: 1em 2em;
  line-height: 1.5;
}

div#metrics {
  grid-template-columns: 50% 50%;
  font-style: italic;
  text-align:center;
}

div.padlet-intro {
  margin: 5em auto 200px auto;
  width: 45em;
  padding: 3em;

  background-color: rgba(255, 255, 255, 0.8);
  border: 8px double #0070af;
}

div.padlet-embed {
  margin: auto;
}

.share {
  padding-top:1.25em; 
  font-size:2em; 
  height: 2.5em;
}

@media only screen and (max-width: 62em) {
  canvas {
    left: 25%;
    width: 50%;
  }

  p.logo-frame {
    font-size: 2rem;
  }

  div#intro_letter h2 { font-size: 3rem; }
  div#intro_letter p, div.padlet-intro { font-size: 2.25rem; }
  div.padlet-intro { width: 70%; }

  dt, dt.share {
    font-size: 5rem;
    border-radius: 20rem;
    width: 15rem;
    height: 11rem;
    padding-top: 4rem;
  }

  dt.share {
    font-size: 4rem;
    height: 10rem;
    padding-top: 5rem;
  }

  .small { width: 80%; }
  .med { width: 90%; }
  .long { width: 100%; }

  dd div p.text span.important { font-size: 2.5rem; }
  dd div p.text, dd div p.text span { font-size: 2.25rem; }

  div#keys { grid-template-columns: 50% 50%; }
  div#keys h3 { font-size: 2.25rem; }

  div#legend {
    top: -150px;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, min-content);
  }

  div#legend h3 { font-size: 2.5rem; }
  div#legend p { font-size: 2rem; }

  div#legend p.legend_pic.r1 { grid-row-start: 1; }
  div#legend h3.r2 { grid-row-start: 2; }
  div#legend p.r3 { grid-row-start: 3; }

  div#legend p.legend_pic.r4 { grid-row-start: 4; }
  div#legend h3.r5 { grid-row-start: 5; }
  div#legend p.r6 { grid-row-start: 6; }

  div#legend img {
    width: 80%;
    border-radius: 200px;
  }

}

/*
#intro_letter, #legend p, dt, dd {
  display: none;
}

dt:last-of-type {
  display: block;
}

dt:last-of-type ~ dd {
  display: block;
} */
